:root {
  --main: #0033ff;
  --title: #000dff;
  --chatcard: #0b43c5;
  --user: #5ea4ff;
}

.bg-main {
  background-color: var(--main);
}

.bg-darkMain {
  background-color: var(--title);
}

.bg-chat {
  background-color: var(--chatcard);
}

.bg-user {
  background-color: var(--user);
}

body {
  background-color: var(--user);
}

.card-size {
  width: 18rem;
}
